USE [master]
GO
/****** Object:  Database [PRUEBATECNICADB]    Script Date: 27/05/2023 6:23:54 p. m. ******/
CREATE DATABASE [PRUEBATECNICADB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBATECNICADB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBATECNICADB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRUEBATECNICADB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBATECNICADB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBATECNICADB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRUEBATECNICADB]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/05/2023 6:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearUsuario]    Script Date: 27/05/2023 6:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_CrearUsuario](
@Nombre varchar(100),
@FechaNacimiento date,
@Sexo varchar(1)
)
as
begin
	set dateformat dmy
	insert into Usuario(Nombre,FechaNacimiento,Sexo)
	values
	(@Nombre,@FechaNacimiento,@Sexo)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarUsuario]    Script Date: 27/05/2023 6:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_EditarUsuario](
@IdUsuario int,
@Nombre varchar(100),
@FechaNacimiento date,
@Sexo varchar(1)
)
as
begin
	set dateformat dmy
	update Usuario set
	Nombre =@Nombre,
	FechaNacimiento =@FechaNacimiento,
	Sexo = @Sexo
	where IdUsuario = @IdUsuario	
end
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 27/05/2023 6:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_EliminarUsuario](
@IdUsuario int)
as
begin
delete from Usuario where IdUsuario =@IdUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaUsuarios]    Script Date: 27/05/2023 6:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListaUsuarios]
as
begin
	set dateformat dmy
	select IdUsuario, Nombre, FechaNacimiento, Sexo  from Usuario
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarioPorId]    Script Date: 27/05/2023 6:23:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerUsuarioPorId]
    @IdUsuario INT
AS
BEGIN
    SELECT IdUsuario, Nombre, FechaNacimiento, Sexo
    FROM Usuario
    WHERE IdUsuario = @IdUsuario
END
GO
USE [master]
GO
